.git
.gitignore
.DS_Store
*.log
*.cache
*.tmp
*.opcache
README.md

note*
*.txt
.env*
.vscode/
docs/
Logs/
*.puml

backend/vendor/
backend/phpunit.xml
backend/phpunit.xml.dist
backend/.phpunit.result.cache
backend/tests/bootstrap.php
